---
import Layout from "../layouts/Layout.astro";
import LOGO from "../assets/Logo-ARC24.png";
import ULSLogo from "../assets/ULS-Blanco.png";
import SEREMILogo from "../assets/logo-seremi.png";
import { Image } from "astro:assets";
import ButtonLink from "../components/ButtonLink.astro";
import { RESULTS } from "../data/RESULTS";
---

<Layout title="ARC 2024">
  <header class="grid justify-center w-fit mx-auto pt-10 gap-8 group pb-[8vh]">
    <h1 class="sr-only">ARC 2024, Próximamente</h1>
    <figure class="overfloh-hidden h-fit w-fit mx-auto">
      <Image
        src={LOGO}
        width={500}
        alt="Logo Festival ARC 2024"
        class="aspect-auto h-fit"
        loading="eager"
      />
    </figure>
    <h2
      class="text-secondary font-black text-2xl text-center md:text-5xl uppercase tracking-tighter bg-black w-fit pb-2 px-4 mx-auto scale-y-150 -skew-y-12 group-hover:skew-y-0 transition duration-300 cursor-default delay-150"
    >
      27, 28, 29 y 30 de Junio
    </h2>
  </header>
  <main class="h-full w-full max-w-2xl mx-auto space-y-16 py-10">
    <section class="grid gap-5">
      <h2 class="text-5xl tracking-tighter text-white font-bold text-center">
        Postulaciones Abiertas
        <span class="block font-normal text-lg tracking-normal"
          >Hasta el 10 de Junio</span
        >
      </h2>
      <div class="flex gap-4 flex-wrap max-w-xl mx-auto justify-center">
        <ButtonLink
          element="a"
          href="#"
          class="text-black border-black text-xl whitespace-nowrap font-bold"
        >
          Artesanías
        </ButtonLink>
      </div>
    </section>
    <section class="grid gap-5">
      <h2 class="text-5xl tracking-tighter text-white font-bold text-center">
        Resultados Convocatoria
      </h2>
      <div class="flex gap-4 flex-wrap max-w-xl mx-auto justify-center">
        {
          RESULTS.map(({ title, docURL }) => (
            <ButtonLink
              element="a"
              href={docURL}
              class="text-black border-black text-xl whitespace-nowrap font-bold"
            >
              {title}
            </ButtonLink>
          ))
        }
      </div>
    </section>
  </main>
  <footer
    class="justify-center grid md:grid-flow-col items-center gap-8 md:gap-20 h-fit p-4 self-end"
  >
    <div class="flex items-center gap-8">
      <Image
        height={64}
        src={SEREMILogo}
        alt="Logo de SEREMI Región de Coquimbo"
        class="h-16 w-fit aspect-auto shrink-0"
        loading="eager"
      />
      <Image
        height={64}
        src={ULSLogo}
        alt="Logo de la Universidad de La Serena"
        class="h-16 w-fit aspect-auto shrink-0"
        loading="eager"
      />
    </div>
    <p class="text-white">
      <strong>ARC 2024</strong> | Desarrollado por <a
        href="https://strocs.dev"
        class="hover:text-black transition duration-150">StrocsDev</a
      >
    </p>
  </footer>
</Layout>
