---
import type { ACTIVITY } from "@data/DAYS";
import CategoryLabel from "./CategoryLabel.astro";
import CityLabel from "./CityLabel.astro";

interface Props extends ACTIVITY {
  color: {
    [key: string]: string;
  };
}

const { title, subTitle, location, city, time, category } = Astro.props;
---

<li
  class:list={[
    "min-h-44 h-fit w-full max-w-[330px] text-secondary leading-4 px-4 pt-8 pb-6 grid relative",
    "before:content-[''] before:w-full before:h-full before:bg-black before:absolute before:-z-20",
    "after:content-[''] after:w-full after:h-2 after:absolute after:-z-10 after:bottom-0 after:bg-day-1 group hover:after:h-3 after:duration-150",
  ]}
>
  <CityLabel city={city} />
  <CategoryLabel category={category} />
  <div>
    <h2 class="uppercase font-bold text-accent-yellow tracking-wide">
      {title}
    </h2>
    <span class="font-light text-sm">{subTitle}</span>
  </div>
  <div class="flex justify-between items-end gap-2">
    <div>
      <address>
        <a
          class="font-medium text-sm leading-3 hover:text-accent-yellow duration-150"
          href="#">{location.name}</a
        >
      </address>
      <p class="text-sm">
        {
          typeof time === "string" ? (
            <time>{time} hrs</time>
          ) : (
            <>
              <time datetime="10:00">{time[0]}</time> hrs hasta las{" "}
              <time datetime="13:00">{time[1]}</time>
            </>
          )
        }
      </p>
    </div>
    <div class="space-y-2 w-fit">
      <a
        class="bg-primary px-4 py-1 h-fit w-fit block hover:bg-accent-blue transition duration-300"
        href="#">tickets</a
      >
      <button
        class="bg-primary px-3 py-1 h-fit whitespace-nowrap hover:bg-accent-blue transition duration-300"
        >ver más</button
      >
    </div>
  </div>
</li>
