---
import CategoryLabel from "./CategoryLabel.astro";
import CityLabel from "./CityLabel.astro";
// import AddToCalendarIcon from "./icons/AddToCalendarIcon.astro";
import { MoreInfoButton } from "./MoreInfoButton";
import Time from "./Time.astro";
import Address from "./Address.astro";
import type { InfoPanel } from "@stores/moreInfoStore";

type Props = InfoPanel;

const { title, subTitle, category, location, time, tickets, color } =
  Astro.props;
---

<li
  class:list={[
    "min-h-44 h-fit w-full max-w-[340px] text-secondary leading-4 px-4 pt-8 gap-2 grid relative",
    "before:content-[''] before:w-full before:h-full before:bg-black/90 before:absolute before:-z-20",
    "after:content-[''] after:w-full after:h-7 after:absolute after:-z-10 after:bottom-0 group hover:after:h-full after:duration-300",
    color.afterBackground,
  ]}
>
  <CategoryLabel category={category} />
  <CityLabel city={location.city} />
  <header>
    <h2 class="uppercase font-bold text-accent-yellow tracking-wide">
      {title}
    </h2>
    <span class="font-light text-sm leading-3">{subTitle}</span>
  </header>
  <section class="flex justify-between items-end gap-4 self-end">
    <div>
      <Address name={location.name} maps={location.maps} />
      <Time time={time} />
    </div>
  </section>
  <footer
    class="flex w-full h-fit items-center justify-center text-center gap-2 self-end"
  >
    <MoreInfoButton
      client:load
      data={Astro.props}
      className="w-fit whitespace-nowrap py-1.5 hover:text-accent-yellow transition duration-300"
    >
      Más info
    </MoreInfoButton>
    {
      !tickets && (
        <>
          <hr class="rotate-90 border-1 border-secondary w-4" />
          <a
            class="w-fit block hover:text-accent-yellow py-1.5 transition duration-300"
            href="#"
          >
            Tickets
          </a>
          {/* <hr class="rotate-90 border-1 border-secondary w-4" /> */}
        </>
      )
    }
    <!-- <a
      class="w-fit h-fit inline-block hover:text-accent-yellow transition duration-300"
      aria-label="Agrega el evento a tu calendario"
      href="#"
    >
      <AddToCalendarIcon size={20} />
    </a> -->
  </footer>
</li>
