---
import Title from '@/features/arc2025/components/ui/Title.astro'
import MAPA from '@/features/arc2025/assets/MAPAFINAL.webp'
import { Image } from 'astro:assets'
---

<section class='relative w-full px-4'>
  <Title subTitle='Distribución de Espacios' class=''>Mapa ARC</Title>
  <Image
    id='map-image'
    src={MAPA}
    alt='Mapa de Distribución de Espacios del Festival ARC 2025'
    width={MAPA.width}
    height={MAPA.height}
    class='mx-auto aspect-auto h-fit w-full max-w-7xl rounded-sm md:-mt-10 lg:-mt-16'
  />

  <!-- <section  
id='map-modal'
    class='bg-25-black/90 fixed inset-0 z-50 flex items-center justify-center px-8 py-6 opacity-100 transition-opacity duration-300 md:hidden'
    role='dialog'
    aria-modal='true'
    aria-label='Vista ampliada del mapa'>
    <button
      id='close-modal'
      class='bg-25-blue text-25-white hover:bg-25-primary fixed right-4 bottom-4 z-10 flex h-10 w-10 cursor-pointer items-center justify-center rounded-full transition-colors focus:ring-2 focus:ring-white/50 focus:outline-none md:h-12 md:w-12 landscape:top-2 landscape:right-10'
      aria-label='Cerrar vista ampliada'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='20'
        height='20'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='md:h-6 md:w-6'>
        <line x1='18' y1='6' x2='6' y2='18'></line>
        <line x1='6' y1='6' x2='18' y2='18'></line>
      </svg>
    </button>
    <div class='size-full overflow-x-scroll'>
      <Image
        id='map-modal-image'
        src={MAPA}
        width={MAPA.width}
        height={MAPA.height}
        alt='Mapa de Distribución de Espacios del Festival ARC 2025'
        class='block aspect-[1887/948] h-full w-auto max-w-max cursor-grab select-none'
      />
    </div>
  </section> -->
</section>
